<!DOCTYPE html>
<html>

<head>
  <title>Ilmoituksen muokkaus</title>
</head>

<body>
    <h1>Myynti-ilmoituksen muokkaus</h1> 
  <form action="/update_item" method="post">
  
    <p>
      Malli: <br />
      <input type="text" name="title" value="{{ item.title }}" maxlength="60" required />
    </p>
    <p>
        Hinta: <br />
        <input type="text" name="price" value="{{ item.price }}" pattern="[1-9][0-9]{0,9}" required /> 
    </p>
    <p>
        Kuvaus: <br />
        <textarea name="description" rows="6" cols="50"  maxlength="1000" required>{{ item.description }}</textarea>
    </p>
    <input type="hidden" name="item_id" value="{{ item.id }}"/>   
    <input type="submit" value="Muokkaa ilmoitusta"/>
  </form>
      <p>
        <a href="/">Takaisin</a>
    </p>
</body>

</html>