{% extends "layout.html" %}

{% block title %}Ilmoituksen muokkaus{% endblock %}

{%block content%}
<body>
<h2>Myynti-ilmoituksen muokkaus</h2> 

<form action="/update_item" method="post">
  <input type="hidden" name="item_id" value="{{ item.id }}"/>
  {% for class in all_classes %}
  <p>
    <label for="class{{ class }}">{{ class }}</a>: <br />
    <select name="classes" id="class{{ class }}">
      <option value="">(valitse)</option>
    {% for option in all_classes[class] %}
      {% if classes[class] == option %}
        <option value ="{{ class }}:{{ option }}" selected>{{ option }}</option>
        {% else %}
        <option value ="{{ class }}:{{ option }}">{{ option }}</option>
        {% endif %}
    {% endfor %}  
    </select>
  </p>
  {% endfor %}

  <p>
    <label for="title">Malli</label>: <br />
    <input type="text" name="title" id="title" value="{{ item.title }}" maxlength="60" required />
  </p>
  <p>
      <label for="price">Hinta</label>: <br />
      <input type="text" name="price" id="price" value="{{ item.price }}" pattern="[1-9][0-9]{0,9}" required /> 
  </p>
  <p>
      <label for="description">Lisätiedot</label>: <br />
      <textarea name="description" id="description" rows="6" cols="50"  maxlength="1000" required>{{ item.description }}</textarea>
  </p>

  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />   
  <input type="submit" value="Muokkaa ilmoitusta"/>
</form>
<p>
  <a href="/item/{{ item.id }}">Takaisin ilmoitukseen</a>
</p>
{% endblock %}