{% extends "layout.html" %}

{% block title %}Hae autoa{% endblock %}

{%block content%}

  <form action="/find_item" method="get">
      <p>
        <label for="query">Hakusana:</label><br />
        <input type:"text" name="query" id="query" value="{{ query }}">

      </p>
      <input type="submit" value="Etsi">

  </form>

  {% if query %}
  <h3>Hakutulokset</h3>

  <ul>
  {% for result in results %}
  <li><a href="/item/{{ result.id }}">{{ result.title }}</a></li> 
  {% endfor %}
  </ul>

    {% endif %}
{% endblock %}
