<!DOCTYPE html>
<html>

<head>
  <title>Automarket</title>
</head>

<body>
  <h1>Automarket<h1>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  {% endif %}
  <p>
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Tunnuksen luonti</a>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  <p>
     <a href="/new_item">Luo myynti-ilmoitus</a>
     <a href="/find_item">Hae autoja</a>
  </p>
  <h2> Myynti-ilmoitukset </h2>
  <ul> 
  {% for item in items %}
  <li> <a href="/item/{{ item.id }}">{{ item.title }}</a> </li> 
  {% endfor %}
  </ul>

</body>

</html>
