<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">

</head>

<body>
  <h1>Automarket<h1>

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  {% endif %}
  <p>
    <a href="/">Etusivulle</a>
    <a href="/find_item">Hae autoja</a>
  {% if session.user_id %}
    <a href="/new_item">Luo myynti-ilmoitus</a>
    <a href="/logout">Kirjaudu ulos</a>
    <a href="/user/{{ session.user_id }}">Oma profiili</a>
  {% else %}
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Rekisteröidy käyttäjäksi</a>
  {% endif %}
  </p>

  {% for message in get_flashed_messages() %}
  <div class="error">
    {{ message }}
  </div>
  {% endfor %}

  {% block content %}{% endblock %}

</body>

</html>
