<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">

</head>
<h1>Automarket</h1>
<body>
  {% if session.username %}
  <p>
    Hei {{ session.username }}, mitä laitetaan?
  </p>
  {% else %}
  <p>
    Jos haluat ostaa tai myydä autoja, kirjaudu sisään tai rekisteröidy ilmaiseksi!
  </p>
  {% endif %}
  <p>
    <a href="/" class="button">Etusivulle</a>
    <a href="/find_item" class="button">Hae autoja</a>
  {% if session.user_id %}
    <a href="/new_item" class="button">Luo myynti-ilmoitus</a>
    <a href="/user/{{ session.user_id }}" class="button">Oma profiili</a>
    <a href="/logout" class="button">Kirjaudu ulos</a>
    
  {% else %}
    <a href="/login" class="button">Kirjaudu sisään</a>
    <a href="/register" class="button">Rekisteröidy käyttäjäksi</a>
  {% endif %}
  </p>

  {% for message in get_flashed_messages() %}
  <div class="error">
    {{ message }}
  </div>
  {% endfor %}

  {% block content %}{% endblock %}

</body>

</html>
