{% extends "layout.html" %}

{% block title %}Myynti-ilmoitus{% endblock %}

{%block content%}
<h2>Myynti-ilmoitus</h2> 
<form action="/create_item" method="post">

  {% for class in classes %}
  <p>
    {{ class }}: <br />
    <select name="classes">
      <option value="">(valitse)</option>
    {%for option in classes[class] %}
        <option value ="{{ class }}:{{ option }}">{{option}}</option>
    {% endfor %}  
    </select>
    
  </p>
  {% endfor %}
  <p>
    Merkki: <br />
    <input type="text" name="title" maxlength="60" required />
  </p>
  <p>
      Hinta: <br />
      <input type="text" name="price" pattern="[1-9][0-9]{0,15}" required /> 
  </p>
  <p>
      Kuvaus: <br />
      <textarea name="description" rows="6" cols="50" maxlength="1000" required ></textarea>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Luo ilmoitus" />
</form>
{% endblock %}