{% extends "layout.html" %}

{% block title %}Myynti-ilmoitus{% endblock %}

{%block content%}
<h2>Myynti-ilmoituksen luonti</h2> 
<form action="/create_item" method="post">

  {% for class in classes %}
  <p>
    <label for="class{{ class }}">{{ class }}</label>: <br />
    <select name="classes" id ="class{{ class }}">
      <option value="">(valitse)</option>
    {%for option in classes[class] %}
        <option value ="{{ class }}:{{ option }}">{{option}}</option>
    {% endfor %}  
    </select>
    
  </p>
  {% endfor %}
  <p>
    <label for="title">Merkki:</label><br />
    <input type="text" name="title" id="title" maxlength="60" required />
  </p>
  <p>
      <label for="price">Hinta:</label><br />
      <input type="text" name="price" id="price" pattern="[1-9][0-9]{0,15}" required /> 
  </p>
  <p>
      <label for="description">Lisätiedot:</label><br />
      <textarea name="description" id="description" rows="6" cols="50" maxlength="1000" required ></textarea>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Luo ilmoitus" />
</form>
{% endblock %}