{% extends "layout.html" %}

{% block title %}{{ item.title }}{% endblock %}

{%block content%}
  <h2>{{ item.title }}</h2> 

    {% if session.user_id == item.user_id %}
<p>
  <a href="/edit_item/{{ item.id }}">Muokkaa ilmoitusta</a>
  <a href="/remove_item/{{ item.id }}">Poista ilmoitus</a>
  <a href="/images/{{ item.id }}">Kuvat</a>
</p>
{% endif %}
{% for image in images %}
<img src="/image/{{ image.id }}" alt="Ilmoituksen kuva" /><br />
{% endfor %}
 <h3>Perustiedot:</h3>
  <div class = "basic_info">
      Tyyppi: {{ tyyppi }}<br />
      Vaihteisto: {{ vaihteisto }}<br />
      Hinta: {{ item.price }}€<br />
      Myyjä: <a href="/user/{{item.user_id}}"> {{ item.username }}</a><br />
  </div>
  <p>
    <h3>Lisätiedot:</h3>
    <div class = "description">
      {{item.description | show_lines }}
  </p>
    </div>

  <h3>Huudot:</h3>

    <div class = "bids">
  {% for bid in bids %}
  {{ bid.price }}€, <a href="/user/{{ bid.user_id }}">{{ bid.username }}</a><br />
  {% endfor %}

  </div>
  {% if session.user_id%}
  <h3>Tee uusi tarjous:</h3>
  <form action="/create_bid" method="post">
    <input type="text" name="price" value = {{ minimum_bid }} pattern="[1-9][0-9]{0,15}" required />
    <input type="hidden" name="item_id" value="{{ item.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lähetä tarjous" />
  {% else %}
  <br />
  Kirjaudu sisään tai rekisteröidy ilmaiseksi huutaaksesi kohteesta!
  {% endif %}
  </form>
{% endblock %}